@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,700&display=swap');
:root{
    --main-color: #c58ca7;
    --font-fam: 'Lato', sans-serif;
}
body{
    background-color: #000000;
    color:#c58ca7;
    text-align: center;
    font-family: var(--font-fam);
}
.nav-link, a{
    color:var(--main-color);
    text-decoration: none;
}
a{
    color:#beaab4;
    text-decoration: none;
}
.typing-text {
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid;
    width: 0;
    animation: typing 2s steps(15), blink .5s infinite step-end alternate;
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
.project-title{
  text-shadow: 19px 11px 5px rgba(199, 142, 169, 0.5);
color: #c78ea9;
}
i{
    margin: 10px;
    color:var(--main-color)
}
.hi-hero{
    font-size: 1.5rem;
}
.info-hero{
    font-size: 2rem;
    font-weight: 700;
    line-height: 3em;
}
.container-fluid{
    font-weight: bold;
    line-height: 30px;
    padding: 100px 10px;
    

    /* border-radius: 23px;
background: linear-gradient(145deg, #d396b3, #b17e96);
box-shadow:  27px 27px 63px #a27389,
             -27px -27px 63px #e8a5c5; */
}
img {

    height: 300px;
    
    width: 300px;
    
    object-fit: cover;
    
    }